/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  /* color related */
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  --clr-dark-grayish-blue: hsl(210, 10%, 33%);
  --clr-grayish-blue: hsl(201, 11%, 66%);
  --clr-white: white;
  --clr-light-gray: rgb(232, 232, 232);

  /* font related */
  --ff-primary: "Bai Jamjuree", sans-serif;
  --fw-400: 400;
  --fw-600: 600;

  /* box shadow values */
  --offset-x: 0.3rem;
  --offset-y: 0.3rem;
  --blur-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}

/* apply spacing for all paragraph text */
p {
  line-height: 1.7;
}
/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-grid"
    "snippets-grid"
    "access-clipboard-info-grid"
    "supercharge-workflow-grid"
    "companies-grid"
    "os-info-grid"
    "footer-grid";
  gap: 10rem;
  justify-content: center;
  max-width: 85rem;
  margin: 0 auto;
}

/* style 1st component - mobile */
.header-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  /* background image properties */
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hearder-grid__img {
  height: 9rem;
  width: 9rem;
  margin: 6rem auto 1rem auto;
}

.header-grid__title {
  font-size: 2.5rem;
  font-weight: var(--fw-600);
  text-align: center;
  width: 100%;
  max-width: 27rem;
  /* large padding / margin values causes overflow bug */
  /* margin: 0 8rem; */
}

.header-grid__info {
  text-align: center;
  width: 100%;
  max-width: 27rem;
  /* large padding / margin values causes overflow bug */
  /* padding: 0 8rem; */
  font-size: 1.4rem;
  color: var(--clr-grayish-blue);
}

.header-grid > button {
  padding: 1.3rem 8rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.25rem;
}

.header-grid__ios-button {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-white);
  box-shadow: var(--offset-x) var(--offset-y) var(--blur-radius)
    var(--clr-strong-cyan);
}

.header-grid__mac-button {
  background-color: var(--clr-light-blue);
  color: var(--clr-white);
  box-shadow: var(--offset-x) var(--offset-y) var(--blur-radius)
    var(--clr-light-blue);
}

/* style 2nd component - mobile */
.snippets-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.snippets-grid__title {
  font-size: 2.5rem;
  font-weight: var(--fw-600);
  width: 100%;
  max-width: 23rem;
  text-align: center;
}

.snippets-grid__info {
  text-align: center;
  width: 100%;
  max-width: 26rem;
  font-size: 1.35rem;
  color: var(--clr-grayish-blue);
}

.snippets-grid__img {
  padding: 0 4rem;
}

.snippets-grid > section > h3 {
  font-size: 2rem;
  font-weight: var(--fw-600);
  text-align: center;
}

.snippets-grid__child1-info,
.snippets-grid__child2-info,
.snippets-grid__child3-info {
  font-size: 1.35rem;
  text-align: center;
  margin: 2rem 0 3rem 0;
  width: 100%;
  max-width: 27rem;
  color: var(--clr-grayish-blue);
}

/* unique arrangement as per design need */
.snippets-grid__child2-info {
  padding: 0 2rem;
}

/* style 3rd component - mobile */
.access-clipboard-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.access-clipboard-info-grid__title {
  font-size: 3rem;
  font-weight: var(--fw-600);
  text-align: center;
  width: 100%;
  max-width: 37rem;
}

.access-clipboard-info-grid__info {
  font-size: 1.35rem;
  text-align: center;
  width: 100%;
  max-width: 27rem;
  color: var(--clr-grayish-blue);
}

.access-clipboard-info-grid__img {
  padding: 4rem;
}

/* style 4th component - mobile */
.supercharge-workflow-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: -6rem;
}

.supercharge-workflow-grid > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.supercharge-workflow-grid > section > p {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  max-width: 27rem;
  color: var(--clr-grayish-blue);
}

.supercharge-workflow-grid-header__title {
  font-size: 2.5rem;
  font-weight: var(--fw-600);
  width: 100%;
  max-width: 31rem;
  text-align: center;
}

.supercharge-workflow-grid > section > h3 {
  font-size: 2rem;
  font-weight: var(--fw-600);
}

/* style 5th component - mobile */
.companies-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.companies-grid > img {
  padding: 2rem;
  /* Google "css reduce multiple image sizes" */
  /* https://stackoverflow.com/questions/12552290/how-to-resize-multiple-images-proportionally */
  width: 40%;
}

/* style 6th component - mobile */
.os-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.os-info-grid__title {
  font-size: 2.5rem;
  font-weight: var(--fw-600);
  width: 100%;
  max-width: 30rem;
  text-align: center;
}

.os-info-grid__info {
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  max-width: 26.8rem;
  color: var(--clr-grayish-blue);
}

.os-info-grid > button {
  padding: 1.3rem 8rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.25rem;
}

.os-info-grid__ios-button {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-white);
  box-shadow: var(--offset-x) var(--offset-y) var(--blur-radius)
    var(--clr-strong-cyan);
}

.os-info-grid__mac-button {
  background-color: var(--clr-light-blue);
  color: var(--clr-white);
  box-shadow: var(--offset-x) var(--offset-y) var(--blur-radius)
    var(--clr-light-blue);
}

/* style 7th component - mobile */
.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-gray);
  padding: 6rem;
}

.footer-grid__img {
  /* reduce image size */
  width: 15%;
}

.footer-grid-img-section > img {
  /* by default they are display block with 100% width */
  display: inline;
  margin: 0 2rem;
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */

@media screen and (min-width: 45rem) {
  .grid-container {
    gap: 8rem;
  }

  /* component 1 - desktop */
  .header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "hearder-grid__img hearder-grid__img"
      "header-grid__title header-grid__title"
      "header-grid__info header-grid__info"
      "header-grid__ios-button header-grid__mac-button";
    gap: 2rem;
    background-image: url("../images/bg-header-desktop.png");
  }

  .header-grid > button {
    padding: 1rem 0;
    width: 16rem;
  }

  .header-grid__title {
    font-size: 3.5rem;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
  }

  .header-grid__info {
    width: 100%;
    max-width: 49rem;
    margin: 0 auto;
  }

  .header-grid__ios-button {
    justify-self: end;
  }

  .header-grid__mac-button {
    justify-self: start;
  }

  /* component 2 - desktop */
  .snippets-grid {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-areas:
      "snippets-grid__title snippets-grid__title"
      "snippets-grid__info snippets-grid__info"
      "snippets-grid__img snippets-grid__features-section";
    gap: 1rem;
  }

  .snippets-grid__title {
    font-size: 2.5rem;
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
  }

  .snippets-grid__info {
    font-size: 1.4rem;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto 3rem auto;
  }

  .snippets-grid__img {
    justify-self: start;
    padding: 0;
    /* google css cut part of image */
    /* https://www.educative.io/answers/how-to-crop-an-image-in-css */
    object-position: -25px;
  }

  .snippets-grid__features-section {
    margin-left: 2rem;
  }

  .snippets-grid > section > h3 {
    text-align: start;
    font-size: 1.7rem;
  }

  .snippets-grid__child1-info,
  .snippets-grid__child2-info,
  .snippets-grid__child3-info {
    margin: 1rem 0 3.5rem 0;
    text-align: start;
    font-size: 1.2rem;
    padding: 0 1rem 0 0;
  }

  /* component 3 - desktop */
  .access-clipboard-info-grid__title {
    font-size: 2.25rem;
  }

  .access-clipboard-info-grid__info {
    font-size: 1.3rem;
    width: 100%;
    max-width: 53rem;
  }

  .access-clipboard-info-grid__img {
    /* debug purpose only */
    /* border: 2px dotted green; */
    padding: 0;
    width: 700px;
    height: auto;
  }

  /* component 4 - desktop */
  .supercharge-workflow-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supercharge-workflow-grid-header supercharge-workflow-grid-header supercharge-workflow-grid-header"
      "supercharge-workflow-grid-child-1 supercharge-workflow-grid-child-2 supercharge-workflow-grid-child-3";
    gap: 1.5rem;
    /* as couldn't remove white space around top png image, need to pull this component upwards */
    margin-top: -2rem;
  }

  .supercharge-workflow-grid-header__title {
    font-size: 2.25rem;
  }

  .supercharge-workflow-grid-header__info {
    font-size: 1.35rem;
  }

  .supercharge-workflow-grid > section > h3 {
    font-size: 1.75rem;
  }

  .supercharge-workflow-grid > section > p {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
  }

  .supercharge-workflow-grid-child-1__info {
    padding: 0 1.5rem;
  }

  /* component 5 - desktop */
  .companies-grid {
    flex-direction: row;
    justify-content: space-between;
  }

  .companies-grid > img {
    width: 15%;
  }

  /* component 6 - desktop */
  .os-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "os-info-grid__title os-info-grid__title"
      "os-info-grid__info os-info-grid__info"
      "os-info-grid__ios-button os-info-grid__mac-button";
  }

  .os-info-grid__title {
    font-size: 2.25rem;
    max-width: 35rem;
    margin: 0 auto;
  }

  .os-info-grid__info {
    font-size: 1.3rem;
    width: 100%;
    max-width: 49rem;
    margin: 0 auto;
  }

  .os-info-grid > button {
    padding: 1rem 0;
    width: 16rem;
  }

  .os-info-grid__ios-button {
    justify-self: end;
  }

  .os-info-grid__mac-button {
    justify-self: start;
  }

  /* component 7 - desktop */
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ". footer-grid__img footer-grid__faq  footer-grid__privacy-policy footer-grid__install-guide . footer-grid-img-section ."
      ". footer-grid__img footer-grid__contact-us footer-grid__press-kit . . footer-grid-img-section .";
    padding: 2.4rem 0;
  }

  .footer-grid__img {
    width: 35%;
  }

  .footer-grid > p {
    font-size: 1.4rem;
  }

  .footer-grid-img-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* remove extra margin to bring all social icons on same row */
  .footer-grid-img-section > img {
    margin: 0 0.2rem;
    width: 20%;
  }
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */
.header-grid {
  grid-area: header-grid;
}

.hearder-grid__img {
  grid-area: hearder-grid__img;
}

.header-grid__title {
  grid-area: header-grid__title;
}

.header-grid__info {
  grid-area: header-grid__info;
}

.header-grid__ios-button {
  grid-area: header-grid__ios-button;
}

.header-grid__mac-button {
  grid-area: header-grid__mac-button;
}

/* Component 2 grid areas */
.snippets-grid {
  grid-area: snippets-grid;
}

.snippets-grid__title {
  grid-area: snippets-grid__title;
}

.snippets-grid__info {
  grid-area: snippets-grid__info;
}

.snippets-grid__img {
  grid-area: snippets-grid__img;
}

.snippets-grid__features-section {
  grid-area: snippets-grid__features-section;
}

/* Component 3 grid areas */
.access-clipboard-info-grid {
  grid-area: access-clipboard-info-grid;
}

/* Component 4 grid areas */
.supercharge-workflow-grid {
  grid-area: supercharge-workflow-grid;
}

.supercharge-workflow-grid-header {
  grid-area: supercharge-workflow-grid-header;
}

.supercharge-workflow-grid-child-1 {
  grid-area: supercharge-workflow-grid-child-1;
}

.supercharge-workflow-grid-child-2 {
  grid-area: supercharge-workflow-grid-child-2;
}

.supercharge-workflow-grid-child-3 {
  grid-area: supercharge-workflow-grid-child-3;
}

/* Component 5 grid areas */
.companies-grid {
  grid-area: companies-grid;
}

/* Component 6 grid areas */
.os-info-grid {
  grid-area: os-info-grid;
}

.os-info-grid__title {
  grid-area: os-info-grid__title;
}

.os-info-grid__info {
  grid-area: os-info-grid__info;
}

.os-info-grid__ios-button {
  grid-area: os-info-grid__ios-button;
}

.os-info-grid__mac-button {
  grid-area: os-info-grid__mac-button;
}

/* Component 7 grid areas */
.footer-grid {
  grid-area: footer-grid;
}

.footer-grid__img {
  grid-area: footer-grid__img;
}

.footer-grid__faq {
  grid-area: footer-grid__faq;
}

.footer-grid__contact-us {
  grid-area: footer-grid__contact-us;
}

.footer-grid__privacy-policy {
  grid-area: footer-grid__privacy-policy;
}

.footer-grid__press-kit {
  grid-area: footer-grid__press-kit;
}

.footer-grid__install-guide {
  grid-area: footer-grid__install-guide;
}

.footer-grid-img-section {
  grid-area: footer-grid-img-section;
}

/* debug purpose only */
header,
footer,
article {
  /* border: 1px solid red; */
}

/* default footer styling */
/* .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
