/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

:root {
  /* color related */

  /* font related */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}
/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* mobile first approach */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-grid"
    "snippets-grid"
    "access-clipboard-info-grid"
    "supercharge-workflow-grid"
    "companies-grid"
    "os-info-grid"
    "footer-grid";
  gap: 2rem;
  justify-content: center;
  max-width: 85rem;
  margin: 2.5rem auto;
}

/* style 1st component */
.header-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.hearder-grid__img {
  height: 9rem;
  width: 9rem;
  margin: 6rem auto 1rem auto;
}

.header-grid__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 8rem;
}

.header-grid__info {
  text-align: center;
  margin: 0 5rem;
}

.header-grid > button {
  padding: 1.3rem 8rem;
  border-radius: 5rem;
  border: none;
}

/* style 2nd component */
.snippets-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.snippets-grid__title {
  font-size: 3rem;
  margin: 0 4rem;
  text-align: center;
}

.snippets-grid__info {
  text-align: center;
  margin: 0 4rem;
  font-size: 1.7rem;
}

.snippets-grid__img {
  padding: 0 4rem;
}

.snippets-grid > section > h3 {
  font-size: 2rem;
  text-align: center;
}

.snippets-grid__child1-info,
.snippets-grid__child2-info,
.snippets-grid__child3-info {
  text-align: center;
  margin: 2rem 6rem 3rem 6rem;
}

/* style 3rd component */
.access-clipboard-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.access-clipboard-info-grid__title {
  font-size: 3rem;
  text-align: center;
  margin: 0 3rem;
}

.access-clipboard-info-grid__info {
  text-align: center;
  margin: 0 5rem;
}

.access-clipboard-info-grid__img {
  padding: 4rem;
}

/* style 4th component */
.supercharge-workflow-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.supercharge-workflow-grid > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.supercharge-workflow-grid > section > p {
  text-align: center;
  margin: 0 5rem;
}

.supercharge-workflow-grid-header__title {
  font-size: 2.5rem;
  margin: 0 5rem;
  text-align: center;
}

.supercharge-workflow-grid > section > h3 {
  font-size: 2rem;
}

/* style 5th component */
.companies-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.companies-grid > img {
  padding: 2rem;
  /* Google "css reduce multiple image sizes" */
  /* https://stackoverflow.com/questions/12552290/how-to-resize-multiple-images-proportionally */
  width: 40%;
}

/* style 6th component */
.os-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.os-info-grid__title {
  font-size: 2.5rem;
  margin: 0 5rem;
  text-align: center;
}

.os-info-grid__info {
  text-align: center;
  margin: 0 5rem;
}

.os-info-grid > button {
  padding: 1.3rem 8rem;
  border-radius: 5rem;
  border: none;
}

/* style 7th component */
.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.footer-grid__img {
  /* reduce image size */
  width: 15%;
}

.footer-grid-img-section > img {
  /* by default they are display block with 100% width */
  display: inline;
  margin: 0 2rem;
}

/* desktop second approach */

@media screen and (min-width: 45rem) {
  /* component 1 */
  .header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "hearder-grid__img hearder-grid__img"
      "header-grid__title header-grid__title"
      "header-grid__info header-grid__info"
      "header-grid__ios-button header-grid__mac-button";
    gap: 2rem;
  }

  .header-grid > button {
    padding: 1rem 0;
    width: 16rem;
  }

  .header-grid__title {
    font-size: 3.5rem;
  }

  .header-grid__info {
    margin: 0 7.5rem;
  }

  .header-grid__ios-button {
    justify-self: end;
  }

  .header-grid__mac-button {
    justify-self: start;
  }

  /* component 2 */
  .snippets-grid {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-areas:
      "snippets-grid__title snippets-grid__title"
      "snippets-grid__info snippets-grid__info"
      "snippets-grid__img snippets-grid__features-section";
    gap: 1rem;
  }

  .snippets-grid__title {
    font-size: 2rem;
  }

  .snippets-grid__info {
    font-size: 1.4rem;
    padding: 0 7rem;
    margin-bottom: 3rem;
  }

  .snippets-grid__img {
    justify-self: start;
    padding: 0;
    /* google css cut part of image */
    /* https://www.educative.io/answers/how-to-crop-an-image-in-css */
    object-position: -20px;
  }

  .snippets-grid__features-section {
    margin-left: 2rem;
  }

  .snippets-grid > section > h3 {
    text-align: start;
    font-size: 1.7rem;
  }

  .snippets-grid__child1-info,
  .snippets-grid__child2-info,
  .snippets-grid__child3-info {
    margin: 1rem 0 3.5rem 0;
    text-align: start;
    font-size: 1.2rem;
  }

  /* component 3 */
  .access-clipboard-info-grid__title {
    font-size: 2.25rem;
  }

  .access-clipboard-info-grid__info {
    font-size: 1.35rem;
    padding: 0 5.5rem;
  }

  /* component 4 */
  .supercharge-workflow-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supercharge-workflow-grid-header supercharge-workflow-grid-header supercharge-workflow-grid-header"
      "supercharge-workflow-grid-child-1 supercharge-workflow-grid-child-2 supercharge-workflow-grid-child-3";
    gap: 1.5rem;
  }

  .supercharge-workflow-grid-header__title {
    font-size: 2.25rem;
  }

  .supercharge-workflow-grid-header__info {
    font-size: 1.35rem;
  }

  .supercharge-workflow-grid > section > h3 {
    font-size: 1.75rem;
  }

  .supercharge-workflow-grid > section > p {
    font-size: 1.35rem;
    margin: 0;
  }

  .supercharge-workflow-grid-child-1__info {
    padding: 0 1.5rem;
  }

  /* component 5 */
  .companies-grid {
    flex-direction: row;
  }

  /* component 6 */
  .os-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "os-info-grid__title os-info-grid__title"
      "os-info-grid__info os-info-grid__info"
      "os-info-grid__ios-button os-info-grid__mac-button";
  }

  /* component 7 */
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "footer-grid__img footer-grid__faq  footer-grid__privacy-policy footer-grid__install-guide footer-grid-img-section"
      "footer-grid__img footer-grid__contact-us footer-grid__press-kit . footer-grid-img-section";
  }

  /* remove extra margin to bring all social icons on same row */
  .footer-grid-img-section > img {
    margin: 0 0.2rem;
  }
}

/* grid area names */

/* Component 1 grid areas */
.header-grid {
  grid-area: header-grid;
  /* debug purpose only */
  border: 1px solid red;
}

.hearder-grid__img {
  grid-area: hearder-grid__img;
}

.header-grid__title {
  grid-area: header-grid__title;
}

.header-grid__info {
  grid-area: header-grid__info;
}

.header-grid__ios-button {
  grid-area: header-grid__ios-button;
}

.header-grid__mac-button {
  grid-area: header-grid__mac-button;
}

/* Component 2 grid areas */
.snippets-grid {
  grid-area: snippets-grid;
  /* debug purpose only */
  border: 1px solid red;
}

.snippets-grid__title {
  grid-area: snippets-grid__title;
}

.snippets-grid__info {
  grid-area: snippets-grid__info;
}

.snippets-grid__img {
  grid-area: snippets-grid__img;
}

.snippets-grid__features-section {
  grid-area: snippets-grid__features-section;
}

/* Component 3 grid areas */
.access-clipboard-info-grid {
  grid-area: access-clipboard-info-grid;
  /* debug purpose only */
  border: 1px solid red;
}

/* Component 4 grid areas */
.supercharge-workflow-grid {
  grid-area: supercharge-workflow-grid;
  /* debug purpose only */
  border: 1px solid red;
}

.supercharge-workflow-grid-header {
  grid-area: supercharge-workflow-grid-header;
}

.supercharge-workflow-grid-child-1 {
  grid-area: supercharge-workflow-grid-child-1;
}

.supercharge-workflow-grid-child-2 {
  grid-area: supercharge-workflow-grid-child-2;
}

.supercharge-workflow-grid-child-3 {
  grid-area: supercharge-workflow-grid-child-3;
}

/* Component 5 grid areas */
.companies-grid {
  grid-area: companies-grid;
  /* debug purpose only */
  border: 1px solid red;
}

/* Component 6 grid areas */
.os-info-grid {
  grid-area: os-info-grid;
  /* debug purpose only */
  border: 1px solid red;
}

.os-info-grid__title {
  grid-area: os-info-grid__title;
}

.os-info-grid__info {
  grid-area: os-info-grid__info;
}

.os-info-grid__ios-button {
  grid-area: os-info-grid__ios-button;
}

.os-info-grid__mac-button {
  grid-area: os-info-grid__mac-button;
}

/* Component 7 grid areas */
.footer-grid {
  grid-area: footer-grid;
  /* debug purpose only */
  border: 1px solid red;
}

.footer-grid__img {
  grid-area: footer-grid__img;
}

.footer-grid__faq {
  grid-area: footer-grid__faq;
}

.footer-grid__contact-us {
  grid-area: footer-grid__contact-us;
}

.footer-grid__privacy-policy {
  grid-area: footer-grid__privacy-policy;
}

.footer-grid__press-kit {
  grid-area: footer-grid__press-kit;
}

.footer-grid__install-guide {
  grid-area: footer-grid__install-guide;
}

.footer-grid-img-section {
  grid-area: footer-grid-img-section;
}

/* default footer styling */
/* .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
